<div class="main">
    <a href="/add" class="btn-add"><i class="fa-solid fa-user-plus"></i>Add Person</a>
    <table id="persons">
        <thead>
                <tr>
                    <th>PersonID</th>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>Address</th>
                    <th>City</th>
                    <th></th>
                </tr>
        </thead>
        <tbody>
            <% persons.forEach((person) => { %>
            <tr>
                    <td><%= person.Personid %> </td>
                    <td><%= person.lastname %> </td>
                    <td><%= person.firstname %> </td>
                    <td><%= person.address %> </td>
                    <td><%= person.city %> </td>
                    <td>
                        <a href="/edit/<%= person.id %>" class="btn-edit"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                        <a href="/delete" class="btn-delete"><i class="fa-solid fa-trash-can"></i>Delete</a>
                    </td>
            </tr>
            <%  })  %> 
        </tbody>    
    </table>
</div>