<div class="main">
    <a href="/add" class="btn-add"><i class="fa-solid fa-user-plus"></i>Add Person</a>
    <table id="persons">
        <thead>
                <tr>
                    <th>PersonID</th>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>Address</th>
                    <th>City</th>
                    <th></th>
                </tr>
        </thead>
        <tbody>
            <% persons.forEach((person) => { %>
            <tr>
                    <td><%= person.PersonID %> </td>
                    <td><%= person.LastName %> </td>
                    <td><%= person.FirstName %> </td>
                    <td><%= person.Address %> </td>
                    <td><%= person.City %> </td>
                    <td>
                        <button class="btn-edit"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
                        <button class="btn-delete"><i class="fa-solid fa-trash-can"></i>Delete</button>
                    </td>
            </tr>
            <%  })  %> 
        </tbody>    
    </table>
</div>